<%- include("header.ejs") %>
<form action="/edit/:id" method="post">
    <input type="text" name="todo" value="<%=response.todo%>">
    <input type="text" name="todo_day" value="<%=response.todo_day%>">
    <input type="text" name="whose_list" value="<%=response.whose_list%>">
    <input type="text" name="_id" value="<%=response._id%>" hidden>
    <div class="button">
        <button type="submit" class="button">Update task</button>
    </div>
</form>