<%- include ("header.ejs") %>

<!-- <%= todoAnswer %> -->
<div class="container">
    <div>Task</div>
    <div>Date</div>
    <div>Who</div>
</div>
<% todoAnswer.forEach( (addtodo)=>{ %>
    
    <div class="container">
        <div class="action"><%= addtodo.todo %></div>
        <div class="date"><%= addtodo.todo_day %></div>
        <div class="who"><%= addtodo.whose_list %></div>
    </div>
<a href="/edit/<%=addtodo._id%>">Edit</a>
<a href="/delete/<%=addtodo._id%>">Delete</a>
<% }) %>

</%= title %>
<div class="container">
    <form action="/todo" method="post">
    <input type="text" name="todo" placeholder="Enter a task">
    <input type="text" name="todo_day" placeholder="Finished before..?">
    <input type="text" name="whose_list" placeholder="Whose task is this">
    <div class="button">
        <button type="submit" class="button">Add task</button>
    </div>
    </form>
</div>
<a href="/todo/?sort=-1"></a>

<button><a href="/todo/?sort=1">Sort</a></button>
<button><a href="/todo/?sort=-1">Sort descending</a></button>
<a href="/comment/?page=2">2</a>
